@import '_variable.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}

.header {
    width: 100%;
    min-height: 70px;
    background-color: $dark;
    color: $light-bg;
    position: fixed;
    left:0;
    top:0;
    z-index: 5;

        .header_wrapper {
            @extend %wrapper;
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: inherit;

            .logo a {
                font-family: $font;
                font-weight: 700;
                font-size: 40px;
                text-decoration: none;
                color: $light-bg;
            }

            .nav ul {
                list-style: none;
                display: flex;
                
                li a {
                    text-decoration: none;
                    color: $light-bg;
                    font-size: 20px;
                    font-family: $font;
                    padding: 10px 0 10px 30px;
                    margin-left: 20px;

                    &:hover {
                        text-shadow: -1px 4px 4px rgba(255, 255, 255, 0.8);

                    }
                }
            }
        }
}


// hero section style

.hero {
    background-color: $green;
    padding-top: 100px;
    min-height: 550px;
    .hero_content {
        @extend %wrapper;
        min-height: inherit;

        .hero_text {
            flex-grow: 1;
            flex-basis: 350px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{
                @extend %title;
                font-weight: 700;
            }
            p{
                @include text($grey_text)
            }
            a{
                @include button($light-bg, $dark);
            }
        }

        .hero_img {
            position: relative;
            flex-grow: 1;
            flex-basis: 350px;
            min-height: inherit;

            .elipse {
                position: absolute;
                left: 80px;
                bottom: 100px;
                width: 50%;

            }

            .einstein {
                position: absolute;
                width: 70%;
                left: 0;
                bottom: -20px;
            }
        }

    }

}

//about section style 
.about {
    width: 100%;
    background-color: $light-bg;
    min-height: 300px;
    position: relative;
    z-index: 2;

    .about_content {
        @extend %wrapper;
        padding: 100px 16px;
        justify-content: space-between;

        h2 {
            @extend %title;
            margin-left: 25px;
        }

        .about_text {
            margin-left: 25px;
            row-gap:15px;
            
            p{
                @include text($dark);
                margin-bottom: 35px;
                max-width: 590px;
            }

            a{
                margin: 10px;
            }

            .black{
                @include button($light-bg, $dark);
                &:hover{
                    @include button($dark, $light-bg)
                }
            }

            .white{
                @include button($dark, $light-bg);
                &:hover{
                    @include button($light-bg, $dark);
            }
        }

    }

} 
}
