* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body {
    background-color:#0F1624;
    width: 100%;
    height: 5400px;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1200px;
    height: inherit;
    margin: 0 auto;
    position: relative;
}

/*
---------------------------------
Header
---------------------------------
*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 137px;
    flex-wrap: wrap;
}



.header_logo {
    display: flex;
    margin-left: 37px;
    column-gap: 30px;
    flex-grow:1;
}


.header img {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: left;

}

.header a {
   text-decoration: none;
}

.portfolio a {
    color: white;
    font-size: 30px;
    left: 115px;
}

.nav {
    flex-grow: 2;
}


.nav ul {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    padding-left: 70px;
}

@media (max-width: 980px) {
    .nav ul {
        display: none;

}
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
}


.nav a::after {
  content: '';
  position: absolute;
  height: 4px;
  bottom: 0;
  left: 0;
  background-image: url(../images/hover_efect.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s;
  top: 40px;
  border-radius: 83px;
}

.nav a:hover::after {
    width: 100%;
  }

.nav li {
    list-style-type: none;
    color: white;
    font-size: 24px;
    position: relative;
}

.logo img {
    width: 28px;
    height: 28px;
}

.logo {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    flex-grow:1;
}

@media (max-width: 400px){
    .logo img {
        display: none;
    }
}


/*
-------------------------------
Main content
-------------------------------
*/

.main {
    margin-left: 80px;
    margin-top: 117px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 500px;
}

.main h1 {
    color:white;
    font-size: 55px;
    font-weight: 600;
    line-height: 82.5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
}

.main p {
    color:#BCBCBC;
    font-size: 30px;
    font-weight: 600;
    margin-top: 67px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}


.button {
    width: 280px;
    height: 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 83px;
    background-image: url(../images/Rectangle.png);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    line-height: 42px;
    font-style: normal;
    margin-top: 67px;
}

.button a {
    color: white;
    text-decoration: none;
}


.button:hover {
    content: "";
    background-image: url(../images/hover_button.jpg);
    transition: all 0.5s ease-in-out;
}

.main img {
    position: absolute;
    right: 0;
    top: 150px;

}

/*
------------------------
Project section style
------------------------
*/

.project h2 {
    color:white;
    font-size: 50px;
    padding: 70px 0 20px 90px;
} 
  
   
.project1 {
    width: 100%;
    background: #0F1624;
    box-shadow: 0px 0px 12px #FFFFFF;
    border-radius: 50px 0px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 40px 0 0;
}


.column_class {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    flex-basis: 500px;
    flex-grow:1;
}

.rectangle_img img {
    width: 250px;
    height: 8px; 
}

.project1 h3 {
    font-size: 36px;
    line-height: 88.5%;
    color: white;
    padding-top: 65px;
}
.project_img {
    display: flex;
    flex-wrap: wrap;
}

.project_img img {
    max-height: 500px;
    max-width: 500px;
    padding: 15px;
    width: 100%;
}
.column_class p {
    color: white;
    font-size: 28px;
    line-height: 42px;
    text-align: left;
    margin: 20px 60px;
}

.project1_button {
    width: 220px;
    height: 65px;
    background-image: url(../images/Rectangle.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project1_button a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.project1_button:hover {
    content: "";
    background-image: url(../images/hover_button.jpg);
    transition: all 0.5s ease-in-out;
}  

/*
-----------------------
Project section 2 style
-------------------------
*/

.project_2_section {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    flex-wrap: wrap;
}

/*
------------------------
Project 2 style
-------------------------
*/


.project2 {
    box-shadow: 0px 0px 12px #FFFFFF;
    border-radius: 50px 0px;
    max-width: 530px;
    min-height: 720px;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.project_2_img img {
    padding: 20px;
    width: 100%;
}


.column_class_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column_class_2 h3 {
    color: #ffff;
    font-size: 36px;

}

.rectangle_img_2 img {
    height: 4px;
    width: 290px;
}

.column_class_2 p {
    color: #ffff;
    font-size: 28px;
    padding: 10px 0 40px 20px;
}

.project2_button {
    width: 220px;
    height: 65px;
    background-image: url(../images/Rectangle.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project2_button a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.project2_button:hover {
    content: "";
    background-image: url(../images/hover_button.jpg);
    transition: all 0.5s ease-in-out;
}  


/*
----------------------------
Section 3
----------------------------
*/

.project_section_3 {

    height: 1000px;
    width: 100%;
    padding-top: 70px;
}

.project_section_3 h2{
    color: white;
    font-size: 56px;
    padding-bottom: 40px;
}

.text_inside_border {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0 20px;
    font-size: 24px;
}


.first_border {
    position: relative;
    width: 100%;
    height: 32px;
    border-radius: 83px;
    background-color: #162950;
    margin: 10px 0 35px;
}

.border_inside {
    position: absolute;
    width: 70%;
    height: 32px;
    background-color:#945DD6;
    border-radius: 83px;
}

.border_inside2 {
    position: absolute;
    width: 50%;
    height: 32px;
    background-color:#945DD6;
    border-radius: 83px;
}

.border_inside3 {
    position: absolute;
    width: 25%;
    height: 32px;
    background-color:#945DD6;
    border-radius: 83px;
}

/*
-------------------------
Section 4 style
-------------------------
*/


.project_section_4 h3 {
    color: #ffff;
    font-size: 48px;
}


.project_section_4 img {
    width: 25px;
    height: 25px;
    margin: 15px 50px 0 0;
}

.project_section_4 {
    row-gap: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.block_column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.first_column {
    color: #ffff;
    font-size: 32px;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
    flex-basis: 320px;
    flex-grow: 2;
    padding-bottom: 30px;
}

.column_first {
    display: flex;
}


.second_column {
    color: #ffff;
    font-size: 32px;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    width: 100%;
    max-width: 320px;
}

.column_second {
    display: flex;
}


/*
-------------------------
Section 5 style
-------------------------
*/

.project_section_5 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section_5_text {
    color: #ffff;
    font-size: 55px;
    padding-left: 50px;
    flex-basis: 555px;
    line-height: 1.7;
    row-gap: 50px;
    display: flex;
    flex-direction: column;
}


.project_section_5 p {
    font-size: 28px;
}

.section_5_img {
    position: relative;
    min-height: inherit;
    flex-basis: 550px;
    top: 130px;
}

.bubble_img img {
    position: absolute;
    width: 450px;
    height: 450px;

}

.girl_img img {
    position: absolute;
    width: 450px;
    height: 420px;
    top: 50px;
}